<!DOCTYPE html>
<html>
<head>
  <title>Command Centre</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Command Centre</h1>
<div id="instructions-div">
  <h2>Instructions</h2>
  <form action="/" method="post">
    <textarea id="instructions"></textarea><br>
    <input type="submit" value="Submit Instructions">
  </form>
</div>
<div id="report-div">
  <h2>Report</h2>
  <textarea id="report"><%= @report %></textarea>
</div>
</body>
</html>