body{
  background-color: navy;
  text-align: center;
}

h1{
  color: white;
}

h2{
  color: red;
}

textarea{
  width: 300px;
  height: 500px;
  resize: none;
}

div{
  display: inline-block;
}

#example-div{
  height: 600px;
}

#example-div textarea{
  margin-bottom: 19px
}